*{
    margin: 0;

}
.card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    width: 300px;
    height: auto;
    text-align: center;
    font-family: sans-serif;
}
.card img{
    width: 150px;
}
.price{
    color: #666;
    font-weight: 500;
    font-size: 24px;
    margin: 1.5rem 0;
}
.card .about{
    font-size: 18px;
    padding: .8rem;
}
button{
    margin-top: 1rem;
    border: none;
    background-color: #fff;
    font-size: 20px;
    cursor: pointer;
    padding: 1rem;
    transition: .2s;
    /* border-radius: 2rem; */
    width: 100%;
    border-top: 1px solid #ccc;
}
button:hover{
    /* background-color: rgba(55, 196, 55, 0.692); */
    color: #2BCE97;
}